/* change these */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #2d2d2d;
  --link-color: #2d2d2d;
  --link-hover-color: #5a5a5a;
  --color-4: #fdec40;
  --color-5: #01a0b8;

  --primary-font: "Playfair Display", serif;
  --secondary-font: "Nunito", sans-serif;
  --third-font: "Raleway", sans-serif;
  --main-text-color: #000;
  --secondary-text-color: white;

  --white-space: 1rem;
}

button:hover {
  background-color: var(--link-hover-color);
}

button:active {
  background-color: var(--bg-color);
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-right: 0.75em;
  font-weight: 500;
  color: var(--color-4);
  font-family: var(--secondary-font);
}

.header-wrapper h2 {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.95);
  font-weight: 300;
  margin: var(--white-space) 0;
  font-family: var(--third-font);
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-family: var(--third-font);
  font-style: italic;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-size: 1.5rem;
  color: var(--color-5);
  margin: 0.5rem 0;
  font-family: var(--third-font);
  font-weight: 550;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 2vw;
  height: 15vw;
  width: 20%;
}

.swatches p {
  margin-top: 50%;
  font-family: var(--third-font);
  font-weight: 600;
  text-align: center;
  color: #2d2d2d;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 50px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: 1em/1 var(--third-font);
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}

button:focus,
button:active,
button:focus-within {
  border-radius: 50px;
}

.column .typography-main {
  border: 2px solid #3f3f3f;
  padding: 15px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--primary-font);
}

.h2-sample {
  font-family: var(--secondary-font);
  font-style: ;
  font-size: 1.45rem;
}

p.typography-sample {
  font-family: var(--third-font);
  line-height: 2;
  max-width: 960px;
  letter-spacing: 0.5px;
}

strong {
  font-weight: bold;
}

a.typography-sample {
  font-family: var(--third-font);
  color: #01a0b8;
}

a {
  font-family: var(--third-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(1 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.social-media > ul,
i {
  justify-content: left;

  font-size: 2rem;
  color: var(--bg-color);
}

.cards .container {
  border: 2px solid var(--bg-color);
  padding-left: 5px;
}

.container .card-heading {
  font-size: 22px;
  font-family: var(--secondary-font);
  font-weight: 700;
  margin-top: 5px;
}

.container .sub-headings {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: 500;
  opacity: 0.5;
}

.container .card-body {
  font-size: 13px;
  font-family: var(--third-font);
}

footer {
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }
}
